.header{
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 12px;
}
.overlay a{
    color: #e7fe00;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
} */

.overlay a:hover{
    color: gray;
} 

/* .inner a{
    color: #e7fe00;
} */
.overlay{
    position: absolute;
    top: 200px;
    margin-left: 200px;
}
.overlay2{
    position: absolute;
    top: 200px;
}
   
.header li a{
    text-decoration: none;
    color: whitesmoke;
    font: bold;

}
#nav{
position: sticky;
}
.header ul{
    display: flex;
    align-items: center;
   
}
.header ul li{
    margin-left: 20px;
    margin-right: 20px;
}
.text-left{
    text-align: left;
    margin-left: 40px;
}
.text-right{
    text-align: right;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.container{
    padding: 10px;
    padding-left: 20px;
}
h1{
    font-family: sans-serif;
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.row1{
    display: flex;
   justify-items: center;
   padding-left: 200px;
   padding-right: 200px;
   padding-right: 0%;
}
.row2{
    display: flex;
   justify-items: center;
   padding-left: 200px;
    padding-right: 200px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.card{
    background-color: rgb(199, 205, 207);
}
#near{
    background-color: rgb(199, 205, 207);
    align-items: center;
    width: 100%;
    height: 200px;
}
.flex{
    display: flex;
   align-items: center;
   justify-content: center;
  
}
#h3{
    font-size: xx-large;
    font-weight: bolder;
}